{% extends 'body.html' %}
{% block title %}Acerca de{% endblock  %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Proyecto mipagweb_v3</h1>
    

    <div class="row">
        <div class="col-8 col-md-8">
            <img src="{% static 'images/DDBB_HV.png' %}" alt="profile_pag" class="img-fluid col-12" alt="Responsive image">
        </div>
        <div class="col-4 col-md-4">
            <h3>Base de datos</h3>
            <p>Se utilizaron bases de datos relacionales, con el gestor de bases de datos Sqlite3, en el cual se crearon 5 tablas con diferentes 
                relaciones entre ellas, y dar mas interación a la pagina, datos adicionales que el usuario puede consultar.
            </p>
            <p>Se muestra en el costado una imagen del las tablas y sus respectivas relaciones</p>
            <h3>Backend</h3>
            <p>Se utilizó el lenguaje python con el framework Django en su version 3.2.</p>
            <p>Se utiliza el patron Modelo Vista Controlador. Se crearon los siguientes elementos para el desarrollo:</p>
            <ul>
                <li>- Aplicación para gestion de base de datos</li>
                <li>- Vistas con templates de Django</li>
                <li>- Perfil administrativo para administrar los datos</li>
                <li>- Modelo</li>
            </ul>
            <p>Para mas detalles visitar el codigo fuente en <a href="https://github.com/SergioParraC/Mi-pagina-web-v3">GitHub</a></p>
            <h3>Frontend</h3>
            <p>Se usa Boostrap V4.3, aplicado directamente en los templates</p>
        </div>
    </div>
</div>



{% endblock %}