<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
    <link type='text/css' href="{% static 'styles.css' %}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Devicon.dev conexion -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
    <!-- Redes Sociales y otros -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-a11y="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<bodydata-spy="scroll" data-target="#navbar" data-offset="88">

    <!-- Inicio de  barra de navegacion -->
	<nav class="navbar navbar-expand-md navbar-dark navbar-custom sticky-top" id="barra">
		<div class="container">
			<a href="{% url 'index' %}" class="navbar-brand">Sergio Parra</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars fa-lg py-1 text-white"></i>
			</button>
			<div class="navbar-collapse collapse" id="navbar">
				<ul class="navbar-nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="#inicio">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#experiencia">Experiencia</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#educacion">Educación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#intereses">Intereses</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#proyectos">Proyectos</a>
					</li>
				</ul>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary ">Detalles</button>
                    <button type="button" class="btn btn-secondary  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'companies' '0' %}">Empresas</a></li>
                        <li><a class="dropdown-item" href="{% url 'experiences' '0' %}">Experiencia</a></li>
                        <li><a class="dropdown-item" href="{% url 'projects' '0' %}">Proyectos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'about' %}">Acerca de</a></li>
                    </ul>
                </div>
				<span class="ml-auto navbar-text">Ingeniero civil - Programador - Desarrollador web</span>
			</div>
            
		</div>
	</nav>
	<!-- Fin barra de navegacion -->
    
    {% block content %}
    
    {% endblock %}
    <!-- Inicio Footer -->
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p class="lead">Sergio Steven Parra Cuesta · Ingeniero Civil · Desarrollador web</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><a href="https://www.facebook.com/parracuesta">Facebook</a> · 
                    <a href="https://wa.me/qr/GPJUFWYVRQD6J1">WhatsApp</a> · 
                    <a href="https://www.youtube.com/channel/UCi_20At4TxL136OXsXwJcLQ?view_as=subscriber">Youtube</a> · 
                    <a href="https://www.instagram.com/sergioparracuesta?r=nametag">Instagram</a> · 
                    <a href="https://github.com/SergioParraC">GitHub</a> · 
                    <a href="https://www.linkedin.com/in/sergio-steven-parra-c">Linkedln</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Fin Footer -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</bodydata-spy=>
</html>