{% extends 'body.html' %}
{% block title %}Experiencia{% endblock  %}

{% block content %}

<div class="container">
    <h1 class="display-3 mt-3 mb-3 text-center">Experiencia</h1>
    <div class="row">
        <div class="col-md-3 col-12">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for id, position in data_nav %}
                    <a class="btn nav-link btn-outline-primary mt-2 {% if id == id_activate %}active{% endif %}" id="v-pills-{{id}}-tab" data-toggle="pill" href="#v-pills-{{id}}" role="tab" aria-controls="v-pills-{{id}}" aria-selected="{% if id == id_activate %}True {% else %}False{% endif %}">{{position}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="tab-content" id="v-pills-tabContent">
                {% for id, position, date, company, company_id, description, city, contact, phone, email, certificate in data %}
                    <div class="tab-pane fade {% if id == id_activate %}show active{% endif %}" id="v-pills-{{id}}" role="tabpanel" aria-labelledby="v-pills-{{id}}-tab"> 
                        <dl class="row">
                            <dt class="col-sm-3">Fecha</dt>
                            <dd class="col-sm-9 text-lowercase">{{date}}</dd>
                          
                            <dt class="col-sm-3">Empresa</dt>
                            <dd class="col-sm-9">
                                <a href="{% url 'companies' company_id %}">{{company}}</a>
                            </dd>
                          
                            <dt class="col-sm-3">Descripción</dt>
                            <dd class="col-sm-9">{{description}}</dd>
                          
                            <dt class="col-sm-3 text-truncate">Ciudad</dt>
                            <dd class="col-sm-9">{{city}}</dd>
                          
                            <dt class="col-sm-3">Contacto</dt>
                            <dd class="col-sm-9">
                                <dl class="row">
                                    <dt class="col-sm-4">Jefe directo</dt>
                                    <dd class="col-sm-8">{{contact}}</dd>
                                    <dt class="col-sm-4">Número de contacto</dt>
                                    <dd class="col-sm-8">(+57) {{phone}}</dd>
                                    <dt class="col-sm-4">Correo electronico</dt>
                                    <dd class="col-sm-8"><a href="mailto:{{email}}">{{email}}</a></dd>
                                </dl>
                            </dd>

                            {% if certificate %}
                                <dt class="col-sm-3">Descargar certificado</dt>
                                <dd><a href="{% url 'download' certificate %}">Descargar</a></dd>
                            {% endif %}
                        </dl>
                    </div>
                {% endfor %}
          </div>
        </div>
    </div>

</div>

{% endblock %}