{% extends 'body.html' %}
{% load static %}

{% block title %}Sergio Parra - Inicio{% endblock  %}


{% block content %}
{% include 'presentation.html' %}





<!-- Inicio Experiacia -->
<section id="experiencia">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">Experiencia</h1>
            </div>
        </div>
        <div class="row">
            {% for position, date2, company, description, position_boss, boss, cell, email in experience %}
                <div class="col-12 col-md-6 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <h2>{{position}}</h2>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small class="text-uppercase">{{date2}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>{{company}}</h3>
                            <p>{{description}}</p>
                            <h3>Contacto:</h3>
                            <p class="lead">{{position_boss}} {{boss}}</p>
                            <p><strong>N° teléfono: </strong>(+57) {{cell}}</p>
                            <p><strong>Correo: </strong><a href="#">{{email}}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

<!-- Inicio Educación -->
<section id="educacion">
    <div class="container">
        <div class="row ">
            <div class="col text-center">
                <h1 class="display-4">Educación</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h2>Educación profesional</h2>
            </div>
        </div>
        <div class="row">
            {% for univercity, date, title, city in prof_study %}
                <div class="col-12 col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-7">
                                        <h3>{{univercity}}</h3>
                                    </div>
                                    <div class="col-5 text-right">
                                        <small class="text-uppercase">{{date}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <h5>{{title}}</h5>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>{{city}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row mt-3 mb-3">
            <div class="col">
                <h2>Estudios formales</h2>
            </div>
        </div>
    
        <div class="row">
            {% for name, date, institute in courses %}
                <div class="col-12 col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-7">
                                        <h3>{{name}}</h3> 
                                    </div>
                                    <div class="col-5 text-right">
                                        <p class="text-uppercase">{{date}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <p>{{institute}}</p> 
                                    </div>
                                    <div class="col-4 text-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row mt-3 mb-3">
                <div class="col">
                    <h2>Lenguajes de programación y herramientas</h2>
                </div>
            </div>
            <div class="row">
                {% for name, icon_class, date in languages_software %}
                    <div class="col-12 col-sm-6 col-lg-3 mb-2">
                        <div class="container pl-0">
                        <div class="card ml-2" style="width: 16.5rem;">
                            <div class="row no-gutters">
                                <div class="col-sm-4 text-center pt-2" style="background-color: rgba(0, 102, 255, 1);">
                                    <i class="{{icon_class}}"></i>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body pt-3 pb-3">
                                        <p>{{name}}</p>
                                        <small>{{date}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<hr>
<section id="proyectos">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">Proyectos</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for title, date, position, address, description, status, web_page, contact_data in proyects %}
                <div class="col-12 col-md-6 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-8 text-left">
                                        <h3>{{title}}</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <small class="text-uppercase">{{date}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>{{position}}</h3>
                            <h6>{{address}}</h6>
                            <p>Enlace de acceso: <a href="{{web_page}}">{{web_page}}</a></p>
                            <p>{{description}}</p>
                            <p><strong>Contacto:</strong> {{contact_data}} </p>
                            <p>{{status}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}