	<!-- Inicio del Inicio -->
    {% load static %}
	<section id="inicio">
		<div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img class="img-fluid" src="{% static 'images/profile_pag.jpg' %}" alt="profile_pag">
                </div>
                <div class="col-12 col-md-8">
                    <h1 class="display-2">Sergio Steven</h1>
                    <h1 class="display-3">Parra Cuesta</h1>
                    <h2>BOGOTÁ - COLOMBIA · (+57) 3203633542 · <a href="#">stevenparracuesta@gmail.com</a></h2>
                    <p class="lead">Ingeniero Civil profesional con habilidades flexibles, manejo de
                        software, programador y diseñador web como hobbie</p>
                    <div class="container"></div>
                        <div class="row redes-sociales">
                            <div class="col text-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item mr-3"><a href="https://www.facebook.com/parracuesta" id="facebook"><i class="fab fa-facebook-f"></i></a><span class="facebook"> (facebook.com/parracuesta)</span></li>
                                    <li class="list-inline-item mr-3"><a href="https://wa.me/qr/GPJUFWYVRQD6J1"><i class="fab fa-whatsapp"></i></a><span class="whatsapp"> (+57 3203633542)</span></li>
                                    <li class="list-inline-item mr-3"><a href="https://www.youtube.com/channel/UCi_20At4TxL136OXsXwJcLQ?view_as=subscriber"><i class="fab fa-youtube"></i></a><span class="youtube"> (Sergio Parra)</span></li>
                                    <li class="list-inline-item mr-3"><a href="https://www.instagram.com/sergioparracuesta?r=nametag"><i class="fab fa-instagram"></i></a><span class="instagram"> (instagram.com/sergioparracuesta)</span></li>
                                    <li class="list-inline-item mr-3"><a href="https://github.com/SergioParraC"><i class="fab fa-github"></i></a><span class="github"> (github.com/SergioParraC)</span></li>
                                    <li class="list-inline-item mr-3"><a href="https://www.linkedin.com/in/sergio-steven-parra-c"><i class="fab fa-linkedin-in"></i><span class="linkedin"> 	(linkedin.com/in/sergio-steven-parra-cuesta-26b0031b3)</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>

